* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0, 0, 0);
}

.nav-bar{
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10vh;
    gap:100px;
}

/*Logo do FigureVerse*/
.logo{
    display: flex;
    margin-left: 10px;
}
.a{
    color: white;
}
.b{
    color: orange;
}

.icons img{
    border-radius: 10px;

    width: 5vw;
    height: 10vh;

}

.lupa.avif{
    width: 10vw;
    height: 10vh;

}
.galeria{
    display: flex;
    justify-content: center;
    align-items: center;

    gap:20px;

}

.card{
    background-color: rgba(250, 235, 215, 0.815);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info{
    background-color: antiquewhite;
    padding: 10px;
}